body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: #333;
  position: fixed; 
  width: 100%;
  top:0;
  left:0;
          
}
nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
}
nav ul li  {
  color: #fff;           
  font-size: 18px;
  padding: 10px 15px;       
}
h1 {
  margin-top: 70px;
}

